header {
	background: #bbbb00;
	padding: 1px 0;
}

.logo {
	width: 40%;
}

.caixa {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 230px;
	right: 0;
}


nav li {
	display: inline;
	margin: 0 0 0 30px;
}



nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
}

nav a:hover {
color: brown;
}
.grandao {
	color: #bbbb00;
	font-size: 100px;
	text-align: center;
}

#normal{
	font-size: 30px;
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
	margin: 5px;
}

#subtitulo {
	color: #bbbb00;
	font-size: 50px;
	margin-left: 30px;
}

#subsubtitulo {
	color: #bbbb00;
	font-size: 40px;
	margin-left: 50px;
}

.principal {
	width: 1200px;
	margin: 10px auto;
	padding: 30px 0 0 20px;
}

.principal  h2 {
	font-size: 40px;
	font-weight: bold;
	color: #bbbb00;

}

.principal li {
	display: inline-block;
	width: 45%;
	text-align: center;
	vertical-align: top;
	border: 10px solid #bbbb00;
	padding: 10px;
	height: 700px;
}

.principal li:hover {
border-color: red;
}

.principal li:active {
border-color: orange;
}

.principal p {
	text-align: justify;
	font-size: 26px;
}


footer {
    text-align: center;
    background: url("ilusao01.jpg");
    padding: 250px 0;
}

.copyright {
    color: #FFFF00;
    font-size: 30px;
    margin: 100px 0 0;
}