
.navegacao {
	position: absolute;
	top: 200px;
	left: 800px;
	width: 500px;

}

nav li {
	margin: 20px 10px 20px 10px;
}

nav a {
	text-transform: uppercase;
	color: maroon;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}



#banner {
	width: 50%;
	border: 15px groove orange ;
}

#banner2 {
	margin-left: 30px;
	display: inline-block;
	width: 30%;
	border: 15px groove orange ;
}

h1 {
	text-align: center;
	font-size: 100px;
	color: maroon;
}

#direita {
	margin-left: 30px;
	padding-top: 80px;
	text-align: center;
	font-size: 70px;
	color: maroon;
}

#subtitulo {
	margin-left: 80px;
	font-size: 50px;
	color: maroon;
}


#normal {
	text-align: justify;
	font-size: 30px;
	color: maroon;
	padding-left: 20px;
	padding-right: 20px;
}


h2 {
    font-size: 50px;
	color: maroon;
	padding-left: 30px;
}

ul {
	display: inline-block;
    vertical-align: top;
    width: 50%;
}


.fotos {
	width: 28%;
	border: 15px groove orange;
	margin: 15px;
}

#metade {
	
	width: 30%;
	border: 15px groove orange;
	padding: 10px;
	margin-right: 20px;
}

.item {
	font-size: 25px;
	color: maroon;
	font-style: italic;
	margin-right: 15px;
	padding-top: 20px;
}